#show_statistics tr td {
    background-color: #f1fcff !important;
    border: 1px solid #ddd !important;
    line-height: 18px !important;
    padding: 8px 80px 8px 8px !important;
    text-align: left !important;
    vertical-align: top !important;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
   width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate,div.dataTables_paginate {
    float: right;
    margin: 0;
}

.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}

.pagination a, .dataTables_paginate a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination ul li{
	text-decoration: none;
	list-style: none;
}

.pagination {
	width: 225px;
	height: -1px;
}

textarea{
    padding: 0px !important;
}


